MONGODB_URI=mongodb+srv://singhshruti4131_db_user:Upu2sbIk63f3ozd7@cluster0.s8czpon.mongodb.net/prowider?retryWrites=true&w=majority&appName=Cluster0
# OR use MongoDB Atlas:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/prowider?retryWrites=true&w=majority
